<style>
body {background:#fff;}
</style>

<a href="/users/sign_in" class="btn btn-primary login"><i class="icon-signin"></i>&nbsp;&nbsp;Log In</a>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="logo-light"><img src="/assets/developers/logo-light.png" width="250" height="55" /></div>
    </div>
  </div>
  <div class="row">
    <div class="span7 teaser">
      <%= cms_snippet_content("developers--index") %>
    </div>
    <div class="span4 offset1">
			<%= display_flash_messages(flash) %>
      <div class="join why home no-bg">
        <legend>Join for free</legend>
        <%= render partial: "registrations/create_account" %>
      </div>
      <br><br>
    </div>
  </div>
</div>
<div class="bg-city hidden-phone"></div>
<div class="index-footer">
	<%= cms_snippet_content("footer") %>
</div>