<style>
body {background:#313E46; padding-top:0;}
</style>

<div class="container">
  <div class="row">
    <div class="span6 offset3 center">
      <div class="brand-wrapper bottom">
        <a class="brand" href="/"><img src="/assets/developers/logo.png" width="182" /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset4">
      <div class="signup">
	      <%= display_flash_messages(flash) %>
	      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :method => :post, id: "password_reset" }) do |f| %>
					<fieldset>
					  <h3>Change Your Password</h3>
					  <br>
				    <div class="infield-label">
				      <label for="input-email">New password</label>
				      <%= f.password_field :password, :autofocus => true, class: "required input-block-level" %>
				    </div>
				    <div class="infield-label">
				      <label for="input-password">Confirm Password</label>
							<%= f.password_field :password_confirmation, class: "required input-block-level" %>
				    </div>
					  <br>
						<button type="submit" class="btn btn-primary btn-block btn-large">Save My Password&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
					</fieldset>
				<% end %>
		</div>
  </div>
</div>

