<p>Hello <%= @resource.email %>!</p>

<p>It looks like a password reset has been issued for your Groundfloor admin account.  If this was initiated by you, please use the link below to change your password.  If this was not you, then you can ignore this email as no action needs to be taken. Your password won't change until you access the link above and create a new one</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

