<!DOCTYPE html>
<!-- saved from url=(0030)http://indiana.groundfloor.us/ -->
<html class="no-js" lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <title>GROUNDFLOOR | The new finance, raised to the power of us</title>
  <meta name="title" content="GROUNDFLOOR | The new finance, raised to the power of us">
  <meta name="description" content="Launching in 2013, GROUNDFLOOR has a new and better recipe for savers, investors and doers. The banks won’t like it, but you will.">
  <link rel="icon" type="image/png" href="http://groundfloor.us/favicon.png">
  <meta property="og:image" content="http://groundfloor.us/assets/images/fb-share.jpg">
  <meta property="og:site_name" content="GROUNDFLOOR">
  <meta property="og:title" content="GROUNDFLOOR | The new finance, raised to the power of us.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://groundfloor.us">
  <meta property="og:description" content="Launching in 2013, GROUNDFLOOR has a new and better recipe for savers, investors and doers. The banks won’t like it, but you will.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link rel="icon" type="image/png" href="http://indiana.groundfloor.us/favicon.png">

</head>

<body>

	<%= yield %>

</body>
</html>
